<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- API Server URL, required -->
    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox site use: https://api.sandbox.ebay.com/wsapi -->
    <add key="Environment.ApiServerUrl" value="https://api.sandbox.ebay.com/wsapi"/>
    <!-- User token for API server access, required -->
    <add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**BU0EUQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4GhCZiLoASdj6x9nY+seQ**yQ4CAA**AAMAAA**V8GNp7AzxbACx/La+oOJjbBAOtEiC6aL0+M7dEA8V5eiDhwrMzcXpmyikLl/U55K+lpPDaGG8UcQyq4w4rwyg2tOPdxLzZjK1RdONSQgzqjqdoVpXrMsGxe8fh3FWoEklcBBFuKp4R8lDY38n4onu9KDCvh8C7uMKFV/HEHKk9Wg7gNnYAQzVxaFiGLEVK3GaEqb+uVUX98LaxLBk2lsUEi+ccReYJGH39jZDPYc+NpXO51A5C3RqJyoJYlVzrY7lONLN9goALZ2K/1XlbmsxD+/UtxAlKwAhZ+MDrvlBftdJ39rvrTeI7v2bY9Y0fuQ8nG5eAalozwRHRfwp9KDgX2vMdoC1eLS3JqImQxw+7TOfohVnWfdwxokakVG0H2Zfd2B2HUnHzxoy1ANvj8Riv+zWcgs84As+j+kt/hTw0lvxRqAxPzAgOyddciSGNYFxwhhbVSffEvd+LnrIMp6T1x5dL5H7J1I3YTwmPVOHAOJyzDjE047v1qSCKddcy4rjtQ1zyA31SM1V6zXH56OwcMvsQ6JgHXl7crkenUTOgEadURFHmvHoPVzjiLjSDrQXre3+Cp57VKdowhLAMAT6mCqgx81PXoGVAsiLPXZuwo2SNEJiYUrISW1Kno3g1ff3iRCgSKcLnnhYbYoA9qi5R+yangX3RFAGP++iwidQIGE2sflzB8bR3wmmeGnsUV/RkVshA+0uuBdVChlIdSkfPNtXuv7bh/OP1Q9Y92/2fqpXyx2tRveyyvG/Vef/x3G"/>
  </appSettings>
</configuration>
